body{
	margin: 0;
	padding: 0;
	background-color: #FAEBD7;
	min-height: 100vh;
}
* {
	box-sizing: border-box;
}
.wrepper {
	max-width: 1150px;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
	background-color: #FAEBD7;
}
.flexStaks {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	position: absolute;
}
.stak {
	border: solid white 3px;
}
.overStak {
	border: solid white 3px;
}
.flex {
	position: relative;
}